@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: "Public Sans", sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-size: 18px;
		overflow-x: hidden;
	}
}

@layer components {
	/* all navbar parts */
	.nav-link-item {
		@apply relative py-5 cursor-pointer;
	}

	.nav-link-item::after {
		content: "";
		@apply duration-200 opacity-0;
	}

	.nav-link-item:hover::after {
		@apply bg-lime-to-cyan absolute w-[110%] bottom-0 left-1/2 h-1 -translate-x-1/2 opacity-100;
	}

	.nav-link-item-link {
		@apply text-base text-grayish-blue font-normal capitalize duration-200 group-hover:text-dark-blue;
	}

	.btn {
		@apply text-white rounded-full transition-all duration-200 bg-lime-to-cyan w-max;
	}

	.btn:hover {
		@apply opacity-60;
	}

	.btn-semi-rounded {
		@apply py-3 px-9 text-sm font-semibold;
	}

	/* Banner parts  */
	.banner-bg {
		background: url("../images/bg-intro-desktop.png") no-repeat;
		background-size: 90%;
		background-position-x: 680px;
		background-position-y: -212px;
	}

	.banner-content-wrapper {
		@apply absolute absolute-y-center w-full;
	}

	/* responsive parts  */

	@media screen and (max-width: 639px) {
		.nav-link-absolute {
			@apply absolute top-20 left-1/2 -translate-x-1/2 bg-white w-11/12 mx-auto shadow-md rounded-xl z-second-top duration-300 opacity-0;
		}

		.nav-link-absolute ul {
			@apply flex-col w-full gap-2 py-6;
		}

		.nav-link-item {
			@apply py-2;
		}

		.nav-link-item-link {
			@apply text-dark-blue text-xl;
		}

		.show-link {
			@apply top-20 opacity-100;
		}

		.not-show-link {
			@apply -top-72;
		}

		.banner-bg {
			background: url(../images/bg-intro-mobile.png) no-repeat;
			background-size: contain;
			background-position-x: left;
			background-position-y: top;
		}
		.banner-content-wrapper {
			@apply flex flex-col gap-10 static top-0 z-second-top translate-y-0;
		}
	}
}

@layer utilities {
	.bg-lime-to-cyan {
		background: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
	}

	.absolute-x-center {
		@apply left-1/2 -translate-x-1/2;
	}

	.absolute-y-center {
		@apply top-1/2 -translate-y-1/2;
	}

	.flex-center {
		@apply flex justify-center items-center;
	}
}
